// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

// body{
//     position: relative;
//     min-height: 100vh;
//     width: 100%;
//     overflow: hidden;
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 85%;
  margin-top: 4%;
  background-color: #F5F5F5;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.navbar-ui {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #F5F5F5;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.navbar-icon-ui {
  background-image: url(isologo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 100%;
}

.navbar-side-icons-ui {
  padding-left: 50px;
}

.navbar-side-user-icon-ui {
  background-image: url("Perfil.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 60px;
  height: 100%;
}

.navbar-side-user-ui {
  display: flex;
  padding-right: 6%;
  background-color: transparent;
  border: none;
}


.navbar-side-user-name-ui {
  align-self: center;
  padding-left: 15px;
}


.sidebar {
  position: fixed;
  left: 0;
  top: 80px;
  height: 100%;
  width: 78px;
  background: #3737EC;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

i#btn {
  color: #fff;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #11101D;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}

.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #fff;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #fff;
  min-height: 100vh;
  top: 80px;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  padding: 3% 2% 2% 12%;
}

.container-actions-sections {
  display: flex;
  width: 39%;
}

.container-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 3%;
  padding-right: 5%;
  margin-top: 4%;
}

.container-actions-delete-section {
  display: flex;
  width: 50%;
}

.search {
  margin-top: 8px;
  border-radius: 26px;
  background: var(--Blanco, #FFF);
  border: none;
  display: inline-flex;
  padding: 6px 20px;
  align-items: center;
}

tr.tr-data {
  height: 58px;
  border-radius: 5px;
  border: 1px solid var(--Gris-claro, #D2D2D2);
  text-align: center;
}

.espacio {
  height: 30px;
}

th {
  text-align: left;
  padding-left: 42px;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  height: 101px;
  background: #F5F5F5;
}

.back-icon {
  background-image: url(Back.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.delete-icon {
  background-image: url(Borrar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.download-icon {
  background-image: url(Descargar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-right: 13px;
}

.add-icon {
  background-image: url(Añadir\ usuario.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
}

.btn.btn-warning {
  background-image: url(Editar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
}

input#email {
  border-radius: 26px;
  border: 1px solid var(--Gris-claro, #D2D2D2);
  width: 371px;
  padding: 8px 15px;
}

input#password {
  border-radius: 26px;
  border: 1px solid var(--Gris-claro, #D2D2D2);
  width: 371px;
  padding: 8px 15px;
}

.input-spaces {
  margin-top: 13px;
}

.container {
  position: fixed;
  top: 80px;
  left: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10%;
}

a.container-text-question {
  color: var(--Gris-oscuro, #989898);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

td.actions {
  display: flex;
  justify-content: space-evenly;
  padding-top: 11%;
}

.btn.btn-danger {
  background-image: url(Borrar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: var(--Violeta, #3737EC);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a.btn.btn-success {
  display: flex;
  align-items: center;
  border-radius: 26px;
  padding: 7px;
  border: 2px solid var(--Violeta, #3737EC);
}

.text-subtitles {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #3737EC;
}

.container-title {
  display: flex;
  width: 100%;
  align-items: center;
}

.sidebar.open~.home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

span.links_name {
  color: #fff;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.h1-welcome {
  // Estilos para h1-welcome
  font-family: 'Roboto', sans-serif;
  font-size: 40px; // Ejemplo de estilo de fuente
  font-weight: normal; // Ejemplo de peso de fuente
  color: #fff;
}

.h1-welcome-bold {
  // Estilos para h1-welcome-bold
  font-family: 'Roboto', sans-serif;
  font-size: 40px; // Ejemplo de estilo de fuente
  font-weight: bold; // Ejemplo de peso de fuente
  color: #fff;
}

.h2-sub-wecome {
  // Estilos para h2-sub-wecome
  font-family: 'Roboto', sans-serif;
  font-size: 32px; // Ejemplo de estilo de fuente
  font-weight: normal; // Ejemplo de peso de fuente
  color: #fff;
}

.container-left-text {
  width: 100%;
  padding: 161px;
}

.container-content {
  display: flex;
  flex-direction: row; // Para apilar los elementos en dispositivos pequeños
  height: 100vh;
}

.container-left {
  background-image: url(bg-login.png);
  max-width: 71%;
  flex-grow: 1; // Para que ocupe todo el espacio disponible en altura
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: flex-end;
}

.container-left-text-down {
  margin-top: 46px;
}

.container-right {
  // Estilos para container-right
  width: 35%;

}

.container-login {
  padding: 18%;
  height: 100%;
}

.container-img {
  background-image: url(isologo.png);
  width: 100%;
  height: 78px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 13%;

}

.container-login-text {
  margin-top: 30%;
}

.container-login-text-password {
  margin-top: 10%;
}

.container-login-text-remember {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.btn-login {
  display: flex;
  width: 390px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 26px;
  background: var(--Violeta, #3737EC);
  color: #fff;
  border: none;
}

.container-btn-login {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.container-text-user {
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
}

.menu-icon {
  background-image: url(Nav.svg);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


@media screen and (max-width: 768px) {
  .container-content {
    flex-direction: column;
  }

  .container-left {
    max-width: 100%;
  }

}